# Pycharm
.idea/

# cache
*.pyc

# data
data/
*.txt
*.csv
*.pickle
*.pkl
*.gz

# where your ideas leave
ignored/

# nupic serialized
*.cproto
result/

# virtualenv
env/
venv/

# models binary
models_bin/